---
title: Product
suppress_header: true
extra_css:
  - features-v2.css
  - solutions-v2.css
extra_js:
  - features.js
---

.hero-container.flex-container.justify-center.align-center
  .text-center
    %h1.hero-title
      GitLab is the first single application for all stages of the DevOps lifecycle.

= partial "includes/home/customer-logos"

.solution-container.flex-container.justify-center.align-center.full-width
  .solution-info-container.flex-container.flex-column.full-width
    %h1
      Overview
    %p
      GitLab is the first single application for all stages of the DevOps lifecycle. Only GitLab enables Concurrent DevOps, unlocking organizations from the constraints of the toolchain. GitLab provides unmatched visibility, higher levels of efficiency, and comprehensive governance. This makes the software lifecycle 3 times faster, radically improving the speed of business.
  .solution-image-container.flex-container.align-center.full-width
    %img.solution-image.flex-shrink{:src => "/direction/product-vision/devops-loop-and-spans-small.png"}/

- data.solutions.solutions.keys.each do |solution|
  = partial "includes/solutions/solution-item", locals: { solution: "#{solution}" }

.gitlab-cta-container.text-center.animated
  .container
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/features"}
      See all features

.gitlab-cta-container.text-center.animated
  .container
    %h1
      Choose the version of GitLab that is best for you
    %h4
      Host GitLab on your servers or let us host it for you
    %a.btn.cta-btn.red.hidden-sm.hidden-xs{href: "/pricing"}
      Explore our plans
    %a.btn.cta-btn.red.visible-sm.visible-xs{href: "/pricing"}
      Explore
