@import "variables";

.title {
  font-size: 30px;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 5%;
  text-align: center;
  font-weight: 200;
}

.mvp-badge {
  margin: auto;
  text-align: center;
  max-width: 50%;

  img {
    display: inline-block;
  }
}

.description {
  text-align: center;
  color: $color-white;
  margin-bottom: 20px;
}

.mvp-list {
  background: $mvp-list-bg;
  max-width: 600px;
  margin: auto;
  color: $color-white;
  padding: 10px 15px;
  margin-bottom: 60px;
  box-shadow: 0 5px 3px rgba($color-dark, .1);
}

.table > thead > th {
  border-bottom: 1px solid $mvp-table-border;
  color: $mvp-table-header-color;
}

.table > tbody > td {
  border-color: $mvp-table-border;
}
